@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Lato, sans-serif;
  background-color: var(--app-color-bg);
}
:root {
  --app-width: 1202px;
  --app-color-primary: #065f46;
  --app-color-bg: #f9f9f9;
  --app-letter-spacing-text: 0.045em;
  --app-letter-spacing-heading: 0.12em;
  --app-font-size-base: 15px;
  --app-font-size-h2: 32px;
  --app-font-size-h3: 22px;
  --app-border-radius: 50px;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
